<div class="panel panel-default">
	<div class="panel-body">
		<div class="btn-group-vertical btn-group-lg">
			<button type="button" class="btn btn-default">Create a new project...</button>
			<button type="button" class="btn btn-default">Send an email...</button>
			<button type="button" class="btn btn-default">Browse projects...</button>
			<button type="button" class="btn btn-default">Bulk modifications...</button>
		</div>
	</div>
</div>
