<div class="row">
    <div>
        <div class="col-md-3">
            <div class="well sidebar-nav">
                <strong>Workflows</strong>
                <ul class="list-group">
                {{#each item in controller}}
                    <li class="list-group-item">{{#link-to 'workarea' item}}{{item.name}}{{/link-to}}</li>
                {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            {{outlet}}
        </div>
    </div>
</div>
