<div class="row">
    <div>
        <div class="col-md-12">
            <div class="well sidebar-nav">
                <strong>Workflows</strong>
                <div class="list-group">
                {{#each item in controller}}
                    {{#link-to 'workarea' item class="list-group-item text-center"}}{{item.name}}{{/link-to}}
                {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
